@page
@using ExpertCenterTestTask.Pages.Controls
@using ExpertCenterTestTask.Notifiers
@model ExpertCenterTestTask.Pages.DevModel
@inject PriceListNotifier priceListNotifier;
@inject PriceListNotifier2 priceListNotifier2;

<partial name="Controls/ServerNotificationControl.cshtml" model="new ServerNotificationControlModel()" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<h1>Is Dev Page</h1>

<script>
    new serverNotificationService()
        .subscribe('@priceListNotifier.GroupName', (dataType, data) => {
            if (dataType === '@nameof(List<int>)') {
                foreach(const deletedId in data.DeletedIds) {
                    documnet.....endabled = false 
                }
                console.log('type is list');
            }
            if (dataType === '@nameof(List<int>)') {
                data.deletedItems 
            }
            console.log(dataType);
            console.log(data);
        })
        .subscribe('@priceListNotifier2.GroupName', (dataType, data) => {
            if (dataType === '@nameof(Single)') {
                console.log('type is float');
            }
            if (dataType === '@nameof(Double)') {
                console.log('type is double');
            }
            console.log(dataType);
            console.log(data);
        })
        .start();
</script>